.intro{
  background: var(--cor-12);
  box-shadow: inset 0 -120px var(--cor-0);
}
.in-intro{
  align-self: end;
  padding-bottom: 200px;
}
.in-intro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.intro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.intro-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.intro-div h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
  font-family: "Poppins", serif;
  font-weight: 600;
}
.intro-div h1 span{
  color: #ffbb00;
}
.intro-div p{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins", serif;
  font-weight: 400;
}
@media (max-width: 800px){
  .intro-div{
    background: var(--cor-11);
    padding-top: 40px;
    box-shadow: inset0 - 60px #ffffff;
    
  }

  .intro-div {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .in-intro{
    padding-bottom: 0px;
  }
  .in-intro img{
    height: 250px;
    width: 100%;
    border-radius: 8px;
  }
  .intro-div h1 {
    margin-bottom: 16px;
  }
}
